// place here your aplication specific SCSS Code


* {
  margin: 0;
}
html, body {
  height: 100%;    
}
/*
body {
  background-image: url(/img/backg3.jpg);  
}*/

.main {
  background-color: white;
  min-height: 94%;
  /* equal to footer height */
  margin-bottom: -150px; 
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

.main:after {
  content: "";
  display: block;
}

.top-bar {
  @extend .top-bar;  
  background-color: #e3e3e3;  
  .name h1 a {
    color:  #333333;
    font-weight: bold;
  }
}
.top-bar:hover {
  /*background-color: rgba(0,0,0,.6);*/
  .name h1 a {  
    font-weight: bold;
  }
}
.top-bar-section {
  font-family: $topbar-link-font-family;
  ul li:not(.has-form) {
    a:not(.button) {        
      background-color: #e3e3e3;  
      color:  #333333;
      font-weight: bold;
    }

    a:not(.button):hover {              
      color:  white;      
      background-color: #C6C5C5;
    }

    &.active > a:not(.button) {
      background-color: #ff5a14;
      /*border-radius: $global-radius;*/
      color: white;
      &:after {
        color: #FFF;
      }
    }
    .dropdown .active > a:not(.button) {
      background-color: rgba(0,0,0,.2);
    }
  }
}

.inline-list>li {
  @extend .inline-list;  
  margin-left: 0.9rem;  
}
.inline-list>li>a {
  color: #C6C5C5;
}

a:hover, a:visited, a:link, a:active
{    
  text-decoration: none;
}

small.error {
    background-color: #ff9a54;
}

ul.parsley-error-list {
  font-size: 11px;
  margin: 2px;
  list-style-type:none;   
}
ul.parsley-error-list li {
  line-height: 11px;
}

.add { 
  @include button();
  background-color: orange;
}

.add:hover {
  background-color: #FF8000;
}

.content {
  margin:30px;
}


.intro-panel {
  @include panel(
    // Sets the panel background color. Default: $panel-pg
    $bg:#d3d3d3,
    // Sets the panel padding amount. Default: $panel-padding
    $padding:50px,
    // Sets the font color based on the darkness of the bg & resets header line-heights for panels. Default: $panel-header-adjust
    $adjust:true    
    );
  height: 300px;  
  margin: 20px;  
  border-radius: 15px;
  -moz-border-radius: 15px;
}
.intro-panel:hover {
  background-color: rgba(0,0,0,.1);
}

.underline{
  font-size: 40px;
  padding-bottom: 7px;
  border-bottom: 7px solid #ff5a14;
}



/* sticky footer */
.footer, .main:after {
  /* .push must be the same height as footer */
  height: 150px; 
}
.footer-content {
  border-top: 1px solid #C6C5C5;
  padding:20px;
  color: #C6C5C5;
}

/*end sticky footer*/